{% extends "layout2.html" %}
{% block a %}

<a href="{{ url_for('home') }}">
<button class="btn btn-light">
    <i class="fas fa-arrow-left"></i> Go Back
</button>
</a>

<form class="" method="POST" action="">
    {{ form.hidden_tag() }}

    {{ form.username.label(id="inputUsername", class="ml-3 mt-3") }}

    {% if form.username.errors %}
    {{ form.username(id="inputUsername", class="form-control is-invalid") }}
    <div class="invalid-feedback">
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>

    {% else %}
    {{ form.username(id="inputUsername", class="form-control ml-3", value=user.username) }}
    {% endif %}

    {{ form.email.label(for="inputEmail", class="ml-3 mt-3") }}

    {% if form.email.errors %}
    {{ form.email(id="inputUsername", class="form-control is-invalid ml-3") }}
    <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.email(id="inputUsername", class="form-control ml-3", value=user.email) }}
    {% endif %}

    {{ form.password.label(for="inputPassword", class="ml-3 mt-3") }}

    {% if form.password.errors %}
    {{ form.password(id="inputPassword", class="form-control is-invalid ml-3") }}
    <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.password(id="inputPassword", class="form-control ml-3") }}

    {{ form.submit(class="btn btn-info ml-3 mt-2") }}
</form>

<a class="d-block mt-2 ml-3 small" href="#">Forgot Password?</a>

{% endif %}
{% endblock a %}