{% extends "layout.html" %}
{% block a %}
<header class="masthead" style="
    height: 100vh;
    min-height: 500px;
    background-image: url('https://i.ytimg.com/vi/4eoM26ZmHd0/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white font-weight-light">There was an error while processing your word. Please enter a single
          valid English word</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div style="background-color:beige; text-align:left; vertical-align: middle; padding:20px 47px;">
    <div class="container">
      <h2 class="font-weight-light text-black">About us</h2>
      <p class="text-black">This is a dictionary app but with a twist. Every time you look up a word, you store it in
        your short term memory
        to understand the text you are learning. There are two problems with this method. After googling the word's
        meaning, you sometimes forget
        the word's meaning after a while; furthermore, when you are speaking and writing you don't use that word you
        googled. There is a solution
        to this, this web application will remind you the word on a weekly basis and encourage you to recall the word
        and use it in daily writing.
        Simply put, this app will help you put the complicated words in your active vocabulary.
      </p>
    </div>
  </div>
</section>


{% endblock a %}