{% extends "layout.html" %}
{% block a %}
<div class="container">
  <div class="display-1 mb-5">Welcome to Lexicon!</div>


  <h1 class="display-4">About This</h1>
  <p class="lead">Hello, my name is Uday Goyat. As a high school student, I decided to make this app after realizing
    that I had trouble recalling the definitions of words I had looked up before. After doing some research, I realized
    that this is because information you look up is stored in your passive memory. In order to move this information to
    your active memory, you must recall the information and utilize it in your daily life. This app helps you remember
    words you looked up by defining them for you every day, slowly increasing this interval until the word is in your
    active memory. Since this is just an app, paying attention to reminders is vital in seeing an improvement. I wanted
    this website to be as functional as possible, and as a result it has a minimalistic design, with no ads or premium
    fees. I am continuously adding to and improving this app, so feel free to email me at lexiconwebapp@gmail.com for
    any feedback. Have fun! 😊

  </p>
</div>
</div>

<div class="jumbotron jumbotron-fluid mb-0" style="background-color: white">
  <div class="container">
    <h1 class="display-4">How to Use?</h1>
    <p class="lead"> You can search words here anytime you want. Search any word to get it's defintion. In order to save
      the words, just sign up using your email adress.
      Once you have done that, simply search any word that you don't know the meaning of on this website. This app
      reminds on a continous basis to recall the word's meaning and using it in sentences. It's very simple and not time
      consuming!
    </p>
  </div>
</div>
</div>
{% endblock a %}
