<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Lexicon</title>

</head>
{% if background_url %}

<body style="background: url( {{ background_url }} );
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; background-attachment: fixed;">
  {% elif background_color %}

  <body style="background-color: {{ background_color }}">
    {% else %}

    <body style="background-color: white">
      {% endif %}


      <nav class="navbar navbar-expand-lg navbar-light" style="background: transparent">
        <a class="navbar-brand" href="{{ url_for('home') }}">Lexicon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Your Words
              </a>


              <div class="dropdown-menu font-weight-light" aria-labelledby="navbarDropdown">
                <a class="dropdown-item font-weight-light" href="{{ url_for('view') }}">View</a>
                <a class="dropdown-item font-weight-light" href="{{ url_for('practice') }}">Practice</a>
              </div>

            </li>
            {% endif %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Your Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if current_user.is_authenticated %}
                <a class="dropdown-item font-weight-light" href="{{ url_for('logout') }}">Log Out</a>
                <a class="dropdown-item font-weight-light" href="{{ url_for('account') }}">Account</a>

                {% else %}
                <a class="dropdown-item font-weight-light" href="{{ url_for('register') }}">Sign Up</a>
                <a class="dropdown-item font-weight-light" href="{{ url_for('login') }}">Log In</a>
                {% endif %}

              </div>
            </li>
            <!--
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                -->
          </ul>
          <form action="{{ url_for(name) }}" method='POST' class="form-inline my-2 my-lg-0">
            <input name="search_word" class="form-control mr-sm-2" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block a %}

      {% endblock a %}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
      <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js> </script> </body>
        </html>