{% extends "layout3.html" %}
{% block a %}

    {% if words_due_today != [] %}
        <h1 class="display-3 ml-2" style="color: white">Words to due today</h1>
        <div class="card-group">
            {% set index = 0 %}
            {% for word in words_due_today %}
                <div class="card m-3" id="{{ loop.index }}">
                    <div class="card-body">
                        <h3 class="card-title" id="{{ 'w'+loop.index|string }}">{{ word.word }}</h3>
                        <p class="card-text"><small class="text-muted">Review or not?</small></p>
                        <button type="button" class="btn btn-light" id="{{ 'b' + loop.index|string }}">
                        <span style="color:greenyellow; font-size: 160%">
                        <i class="fas fa-check"></i>
                        </span>
                        </button>

                        <button type="button" class="btn btn-light" id="{{ 'c' + loop.index|string }}">
                            <span style="color: red; font-size: 160%;">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    </div>
                </div>
            {% set index = index + 1 %}
            {% endfor %}
        </div>
            
            <div class="text-center" >
                <button type="button" id="submit" class="btn btn-dark btn-outline-light btn-lg mt-4">
                All Done? Press this button to submit!
                </button>
            </div>
    {% else %}
            <div class="ml-3 " style="color: white">
                    <h1 class="display-3 ">No words today! </h1>
                    <h1 class="display-3 ">Enjoy the rest of your day 😊</h1>
            </div>
       

{% endif %}
{% endblock a %}