{% extends "layout2.html" %}
{% block a %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form class="form-signin" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-label-group">
              {{ form.username.label(for="inputUsername") }}

              {% if form.username.errors %}
              {{ form.username(id="inputUsername", class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>

              {% else %}
              {{ form.username(id="inputUsername", class="form-control") }}
              {% endif %}

            </div>

            <div class="form-label-group">
              {{ form.email.label(for="inputEmail") }}

              {% if form.email.errors %}
              {{ form.email(id="inputEmail", class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.email(id="inputEmail", class="form-control") }}
              {% endif %}
            </div>


            <div class="form-label-group">
              {{ form.password.label(for="inputPassword") }}

              {% if form.password.errors %}
              {{ form.password(id="inputPassword", class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.password(id="inputPassword", class="form-control") }}
              {% endif %}

            </div>

            <div class="form-label-group">
              {{ form.confirm_password.label(for="inputConfirmPassword") }}

              {% if form.confirm_password.errors %}
              {{ form.confirm_password(id="inputConfirmPassword", class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.confirm_password(id="inputConfirmPassword", class="form-control") }}
              {% endif %}
            </div>

            {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}


          </form>

          <a class="d-block text-center mt-2 small" href="{{ url_for('login') }}">Sign In</a>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock a %}